@media screen and (max-width: 860px) {
    #faq-card {
        flex-direction: column;
    }
    #container-imagem img {
        width: 22rem;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    #faq-card #faq {
        margin-left: 0;
        margin-top: 9rem;
        align-self: center;
        padding: 6rem 4rem;
    }
    #faq .topico-info {
        max-width: 39rem;
        width: auto;
    }
}